<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student | TARUMT</title>
  </head>
  <body>
    <!-- upload resume  -->
    <form action="/uploadResume" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>

    <!-- upload progress report here -->
    <form action="/uploadProgressReport" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>

  </body>
</html>
