<!-- create somethng for supervisor page for internship -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supervisor</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Supervisor</h1>
        </div>
        <div class="content">
            <div class="main">
                <h2>Supervisor</h2>
                <p>Supervisorsdfsdf page</p>
            </div>
            <div class="sidebar">
                <h2>Supervisor</h2>
                <p>Supervisor page</p>
            </div>
        </div>
        <div class="footer">
            <h2>Supervisor</h2>
            <p>Supervisor page</p>
        </div>
    </div>

</body>
</html>
